body {
		background-image:url("fondo.jpg");
		}
h1, div {
		text-align:center;
		padding-bottom:20px;
	}
	
h1 {
	font-size:60px;
	padding-top:20px;
}

div {
	   border: black 2px solid;
	   margin-left:450px;
	   margin-right:450px;
	   background-color:lightgrey;
	}

